logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.bloop
/.g8
/.metals
/RUNNING_PID
/project/metals.sbt


###SublimeText###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


###Scala###

*.class
*.log


###PlayFramework###

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.envrc
./null
project/.bloop
.vscode/